.content-area {  
  margin-top: 70px;
}
.thebutton {
  width: 253px !important;
  height: 80px !important;
  border-radius: 45px !important;
  background-color: #431883 !important;
  color: #ffffff !important;
  
}

